    * {
        margin: 0;
        border: 0;
        scroll-behavior: smooth;
    }
    
    .photo {
        height: 25vh;
        padding-left: 10%;
        margin-top: 20%;
        image-orientation: from-image;
    }
    
    .name {
        font-size: 3vh;
    }
    
    .main-title {
        background-color: gray;
        height: 10%;
        text-align: center;
        padding-left: 10px;
    }
    
    .nav-bar a {
        padding-top: 10px;
        position: relative;
        text-decoration: none;
        color: black;
        display: flex;
        float: left;
        justify-content: space-around;
        width: 25%;
        text-align: center;
        background-color: gray;
        height: 5%;
        font-size: 2.5vh;
    }
    
    .content {
        background-color: lightgray;
    }
    
    .about {
        height: 150vh;
    }
    
    .name {
        padding-left: 10%;
        padding-top: 2vh;
    }
    
    .qualifications {
        padding-top: 4vh;
        padding-left: 10%;
        font-size: 3vh;
    }
    
    .list li {
        padding-top: 4vh;
        padding-left: 5%;
        font-size: 2.5vh;
    }
    
    .about-me-wrapper {
        height: 100vh;
    }
    
    .hobbies {
        padding-top: 2vh;
        padding-left: 10%;
        font-size: 3vh;
    }
    
    .hobby-list li {
        padding-left: 5%;
        font-size: 2.5vh;
        padding-top: 4vh;
    }
    
    .contact-details-wrapper {
        height: 100vh;
    }
    
    .contact-details {
        padding-left: 10%;
        font-size: 3vh;
    }
    
    .contact-list li {
        padding-left: 5%;
        font-size: 2.5vh;
        padding-top: 4vh;
    }
    
    .projects-wrapper {
        height: 100vh;
    }
    
    .projects {
        padding-left: 10%;
        font-size: 3vh;
    }
    
    .projects-list li {
        padding-left: 5%;
        font-size: 2.5vh;
        padding-top: 4vh;
    }
    
    .skill-set-wrapper {
        height: 100vh;
    }
    
    .skill-set {
        padding-left: 10%;
        font-size: 3vh;
    }
    
    .skill-set-list li {
        padding-left: 5%;
        font-size: 2.5vh;
        padding-top: 4vh;
    }
    
    @media only screen and (max-width: 480px) {
        .nav-bar a {
            display: inline-block;
            width: 100%;
        }
        .about {
            height: 150vh;
        }
    }
    
    @media only screen and (max-width: 216px) {
        .about {
            height: 2.5vh0vh;
        }
    }
    
    @media only screen and (max-height: 500px) {
        .about {
            height: 2.5vh0vh;
        }
    }
